<win-pivot class="col-xs-12 settings-container" style="background-color: #E9EEF1">
    <!--<div>Resource Management > Manage Resources</div>
    <br />
    <win-pivot-item header="'Add Resource'">        
        Loading add resource form... 
    </win-pivot-item>
    <win-pivot-item header="'Update Resource'">
        Loading udpate resource form...
    </win-pivot-item>
    <win-pivot-item header="'Search Resource'">
        Loading search resource form...
    </win-pivot-item>-->
    <win-pivot-item header="'Resource Management > Requestor view'">
        <img src="../assets/pictures/resmanagement.png" />
    </win-pivot-item>
</win-pivot>