<win-pivot class="col-xs-12 settings-container">
    <win-pivot-item header="'About'">
        <div class="about">
            <h2>{{SettingsTitle}}</h2>
            <p class="publisher" style="margin-left:4.5px;margin-top:0px;">By Microsoft Corporation</p>
            <p class="version" style="margin-left:4.5px;margin-top:0px;">Version 1.0.1</p>
            <br />
            <p style="margin-left:3.5px;margin-top:0.5px;">
                Built on Windows 10, Windows Apportal is a role based, connected experience that is designed around how YOU work. Regardless if you are in Sales, Marketing, HR, Field Leadership or other role, Windows Apportal will provide a central point of access to all the applications, reports and resources you need, specific to your role and the most common daily tasks, all in a modern Windows 10 experience.
            </p>
            <a href="http://bing.com" style="margin-left:4.5px;margin-top:10px;">Support</a>
            <br />
            <a href="http://bing.com" style="margin-left:4.5px;">Privacy Statement</a>
            <br />
            <p style="margin-left:4.5px;margin-top:10px;">
                Copyright © 2015 Microsoft Corporation. All rights reserved.
            </p>
            <hr />
            <h2 class="small">Third-party software acknowledgements</h2>
            <p style="margin-left:0px;">
                The software is based on or incorporates material from the projects listed below
                (collectively, "Third Party Code"). Please Note:Â  Microsoft is not the original
                author of the Third Party Code. The original copyright notice and the license
                under which Microsoft received the Third Party Code, are set forth below.
                Licenses and notices are provided for informational purposes only. Microsoft,
                not the third party, licenses the Third Party Code to you under the terms set
                forth in the license agreement or terms of use for the Microsoft product.
                Microsoft reserves all other rights not expressly granted under this agreement,
                whether by implication, estoppel or otherwise.
            </p>
            <ul class="software-list" style="list-style:disc;padding:10px;">
                <li>
                    <h5>Sales App Portal Application use materials from jQuery</h5>
                    <p class="settingAboutMargin">
                        Copyright 2013 jQuery Foundation and other contributors.
                    </p>
                    <p class="settingAboutMargin">
                        Permission is hereby granted, free of charge, to any person obtaining
                        a copy of this software and associated documentation files (the "Software"),
                        to deal in the Software without restriction, including without limitation the
                        rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                        copies of the Software, and to permit persons to whom the Software is furnished
                        to do so, subject to the following conditions:
                    </p>
                    <p class="settingAboutMargin">
                        The copyright notice and this permission notice shall be included
                        in all copies or substantial portions of the Software.
                    </p>
                    <p class="settingAboutMargin">
                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                        INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                        PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
                        FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
                        ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                    </p>
                    <a href="https://tldrlegal.com/license/mit-license">Link to License</a>
                </li>
                <li>
                    <h5>Sales App Portal Application use materials from AngularJS</h5>
                    <p class="settingAboutMargin">
                        Copyright (c) 2010-2015 Google, Inc. http://angularjs.org
                    </p>
                    <p class="settingAboutMargin">
                        Permission is hereby granted, free of charge, to any person obtaining a copy
                        of this software and associated documentation files (the "Software"), to deal
                        in the Software without restriction, including without limitation the rights
                        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                        copies of the Software, and to permit persons to whom the Software is
                        furnished to do so, subject to the following conditions:
                    </p>
                    <p class="settingAboutMargin">
                        The above copyright notice and this permission notice shall be included in
                        all copies or substantial portions of the Software.
                    </p>
                    <p class="settingAboutMargin">
                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
                        THE SOFTWARE.


                    </p>
                    <a href="https://angularjs.org/">Link to License</a>
                </li>
                <li>
                    <h5>Sales App Portal Application use materials from Data-Tables.Net</h5>
                    <p class="settingAboutMargin">Copyright (C) 2008-2015, SpryMedia Ltd.</p>
                    <p class="settingAboutMargin">
                        Permission is hereby granted, free of charge, to any person obtaining a
                        copy of this software and associated documentation files (the "Software"),
                        to deal in the Software without restriction, including without limitation the
                        rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                        copies of the Software, and to permit persons to whom the Software is furnished to do so,
                        subject to the following conditions:
                    </p>
                    <p class="settingAboutMargin">
                        The above copyright notice and this permission notice shall be included in all copies
                        or substantial portions of the Software.
                    </p>
                    <p class="settingAboutMargin">
                        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                        INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                        PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
                        FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
                        ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
                        IN THE SOFTWARE.
                    </p>
                    <a href="http://www.datatables.net/license/">Link to License</a>
                </li>
            </ul>-->

        </div>
    </win-pivot-item>
    <win-pivot-item header="'Help'">
        <div class="col-xs-12 helpContainer">
            <p>
                <div class="title">Feedback</div>
                <label>To provide feedback for a tile in the main section:</label>
                <ol class="provideFeedbacklist">
                    <li>Right click or long press the tile</li>
                    <li>Rate on a scale of 1 to 5 and provide the comments(mandatory)</li>
                    <li>Submit the feedback</li>
                </ol>
            </p>
            <p>
                <label>To provide feedback for a tile in the 'My Favorites' section:</label>
                <ol class="provideFeedbacklist">
                    <li>Right click or long press the tile</li>
                    <li>Click on the '...' icon and then select the feedback option</li>
                    <li>Rate on a scale of 1 to 5 and provide the comments(mandatory)</li>
                    <li>Submit the feedback</li>
                </ol>
            </p>
            <a href class="link col-xs-12">Why Apportal?</a>
            <a href class="link col-xs-12">Apportal Readiness 1</a>
            <a href class="link col-xs-12">Apportal Readiness 2</a>
            <a href class="link col-xs-12">Apportal Readiness 3</a>
        </div>
    </win-pivot-item>
</win-pivot>