<div id="system-down-overlay">
    <section id="system-down">
        <section class="outer">
            <section class="inner">
                <h1 class="title" id="headerText">System Down</h1>
                <p class="msg" id="descriptionText">We are sorry, we couldn’t load your experience. Please contact administrator</p>
                <a class="anchor__link" target="_blank" href="https://microsoft.service-now.com/nav_to.do?uri=%2Fcom.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1%26sysparm_id%3D906528a10a0a0bf000a85bc20dfb6541%26cmdb_ci%3D%2520895df73513b8d640691272722244b0de%26sysparm_no_search%3Dtrue" id="supportLink">Create Ticket</a>
            </section>
        </section>
    </section>
</div>