<button class="fxp-btn fxp-btn--action"
        aria-label="Previous Page"
         ng-disabled="false">
    <span class="icon icon-chevron-left"></span>
    <span class="font-caption-alt fxp-btn--action__text">Prev</span>
</button>

<input class="font-caption-alt page-number"
       type="number"
       min="1"
       required
       name="currentPage"
       placeholder="1"/>

<span class="font-caption-alt page-text">of</span>
<span class="font-caption-alt page-text">2</span>

<button class="fxp-btn fxp-btn--action"
        aria-label="Next Page"
        ng-disabled="false">
    <span class="font-caption-alt fxp-btn--action__text">Next</span>
    <span class="icon icon-chevron-right"></span>
</button>