$BLACK: #000;
$GREY_2A: #2A2A2A;
$GREY_42: #424242;
$GREY_66: #666666;
$GREY_99: #999999;
$GREY_D9: #D9D9D9;
$GREY_F2: #f2f2f2;
$WHITE: #FFF;

$BLUE_PRIMARY: #0078d7;
$BLUE_SECONDARY: #0063B1;

$BLUE_AC1: #e9eef1;
$BLUE_AC2: #b3d6f1;
$BLUE_AC3: #006cc1;
$BLUE_AC4: #0760a7;
$BLUE_AC5: #01569a;
$BLUE_AC6: #005496;
$BLUE_AC7: #004E8C;
$BLUE_AC8: #003966;

$RED: #C50F1F;
$GREEN: #107C10;
$YELLOW: #FFC83D;
$YELLOW_AA: #FFFFAA;
$YELLOW_F9: #FFF999;
$MARRON: #e50000;

$GREY_D8: #D8D8D8;
$GREY_F1: #E9EEF1;
$GREY_C0: #C0C0C0;
$GREY_BF: #BFBFBF;

$BLACK_RGBA_01: rgba($BLACK, 0.1);
$BLACK_RGBA_02: rgba($BLACK, 0.2);
$BLACK_RGBA_25:rgba($BLACK,0.25);
$BLACK_RGBA_03: rgba($BLACK, 0.3);
$BLACK_RGBA_04: rgba($BLACK, 0.4);
$BLACK_RGBA_06: rgba($BLACK, 0.6);

$BLUE_PRIMARY_04: rgba($BLUE_PRIMARY, 0.4);